

  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Epilogue:wght@300&family=Fraunces:opsz@9..144&family=Hanken+Grotesk:ital,wght@1,300&family=Inter&family=Montserrat&family=Outfit:wght@300&family=Poppins:ital,wght@1,200&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    overflow: hidden;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(210, 46%, 95%);
}

.main{
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: 2, min-content;
    grid-gap: 20px;
}

